<nav class="nav">
    <h1><a routerLink="/">E-Comm</a></h1>
    <div *ngIf="menuType!=='seller'" class="nav-search">
        <input  type="text" #searchInput (keyup)="searchProduct($event)" (blur)="hideSearch()" placeholder="Search Products">
        <button (click)="submitSearch(searchInput.value)">Search</button>
        <ul class="suggested-result" *ngIf="searchResult">
            <li *ngFor="let item of searchResult">
                <a (mousedown)="redirectToDetails(item.id)">{{item.name}}</a>
            </li>
        </ul>
    </div>
    <h6>
<div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
        <li><a routerLink="/seller-auth" >Seller</a></li>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/user-auth">LogIn/SignUp</a></li>
        <li><a href="#">Cart({{cartItems}})</a></li>
    </ul>
    <ul *ngSwitchCase="'user'">
        <li><a routerLink="/seller-auth" >Seller</a></li>
        <li><a routerLink="/Home">Home</a></li>
        <li><a href="#">{{userName| titlecase}}</a></li>
        <li><a routerLink="my-orders">My orders</a></li>
        <li><a (click)="userLogOut()" class="logoutbutton">LogOut</a></li>
        <li><a [routerLink]=" cartItems>0?'cart-page':null">Cart({{cartItems}})</a></li>
    </ul>
    <ul *ngSwitchCase="'seller'">
        <li><a routerLink="/seller-add-product">Add Product</a></li>
        <li><a routerLink="seller-home">List</a></li>
        <li><a (click)="logOut()" class="logoutbutton">LogOut</a></li>
        <li><a href="#">{{sellerName| titlecase}}</a></li>
    </ul>
</div>
</h6>
</nav>